<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB_gm8BpK7DJoKVUKXa2sR5sBlT-XEqrY8</string>
	<key>GCM_SENDER_ID</key>
	<string>97071822788</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.acs.krishna.CarPlayMusicSampleApp</string>
	<key>PROJECT_ID</key>
	<string>musicapp-40d46</string>
	<key>STORAGE_BUCKET</key>
	<string>musicapp-40d46.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:97071822788:ios:fec370dee56b15addad691</string>
</dict>
</plist>